/* styles.css */

/* Targeting the boddy element */
@font-face {
    font-family: 'DinaRemasterII', Arial;
    src: url('../../pers/css/fonts/DinaRemasterII.woff2') format('woff2'),
         url('../../pers/css/fonts/DinaRemasterII.woff') format('woff');
}

body {
    background-color: black;
    
}

/* Targeting headings */
h1 {
    text-align: center;
    color: rgb(252, 4, 4);
    font-family: 'DinaRemasterII', sans-serif;

}

/* Targeting paragraphs */
p {
    font-family: 'DinaRemasterII', sans-serif;
    color: rgb(153, 252, 4);
    text-align: center;
    font-size: large;
    line-height: 1.6;
    margin-bottom: 20px;

}
a {
    padding: 10px 0;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(153, 252, 4);
    font-family: 'DinaRemasterII', sans-serif;
    font-size: large;
}