header{
      background-color: rgb(80,80,80);
        margin: 0px;
        }
        .navbar{
          display: flex;
            justify-content: center;
              text-align: center;
              }
              #title{
                font-size: 20px;
                  color: white;
                  }
                  #barrapesq{
                   margin-top: 13px;
                    margin-left: 80px;
                    }
                    input[type="text"]{
                      border-radius: 40px;
                        border: 1px solid #ffffff;
                        }
                        input[type="text"]:hover{
                          background-color: rgb(255,255,255);
                            border-color: white;
                            }
                            button{
                              border-radius: 40px;
                              }
                              button:hover{
                                background-color: rgb(90,90,90);
                                }
                                nav {
                                  background-color: rgb(120,120,120);
                                    display: flex;
                                      justify-content: center;
                                        gap: 2em;
                                          padding: 20px;
                                            font-size: 21px;
                                              box-sizing: border-box;
                                              }
                                              li{
                                                justify-content: space-between;
                                                }
                                                a{
                                                  color: white;
                                                  }
                                                  body{
                                                    background-color: black;
                                                    }
                                                    #sobremin {
                                                      color: white;
                                                        text-align: center;
                                                          margin-top: 80px;
                                                          }
                                                          footer {
                                                            background-color: black;
                                                              color: white;
                                                                text-align: center;
                                                                  margin-top: 700px;
                                                                    padding: 10px 0;
                                                                    }