body {
    background-color: black;

}
header {
    background-color: #191970;
    color: black;
    text-align: center;
    padding: 1em 0;
    text-transform: uppercase;
}
h1 {
    display:flex;
    justify-content: center;
    color: white;

}

p {
    color: white;
    text-transform: uppercase;
}
