@font-face {
    font-family: 'DinaRemasterII';
    src: url('../fonts/DinaRemasterII.woff') format('woff'),
    url('../fonts/DinaRemasterII.woff2') format('woff2');
}

body {
    background-color: black;

}
header {
    background-color: rgb(0,0,40);
    color: #ffffff;
    text-align: center;
    padding: 0.5em 0;
    text-transform: uppercase;

}

#pesquisa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

#logo {
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 0px #ff0000,
                 1.5px 1.5px 0px #00ff00,
                 2px 2px 0px #0000ff;
    margin-left: 60px;
    }

#searchForm {
    width: 80%;
    max-width: 300px;
    display: flex;
    align-items: center;
    margin-right: 90px;

}

input[type="text"] {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid rgb(0,0,40);
    border-radius: 40px;
    margin-right: 0.5em;
    background-color: black;
    color: white;

}

button {
    padding: 0.5em;
    font-size: 1em;
    background-color: rgb(0,90,0);
    color: white;
    border: 1px solid rgb(0,0,40);
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s

}

button:hover {
    background-color: rgb(0,0,60);
    border-radius: 40px
}
input:hover {
    
    color: rgba(255, 255,255, 0.5);
}

#ras {
    font-size: 20px;
    color: white;
    padding: 5px;
}

#projects {
    margin-bottom: 0.5em;
    padding: 1em;
    border: 1px solid rgb(0,0,40);
    background-color: rgb(0,0,40);
    font-family: DinaRemasterII;
    color: white;
}

#t1{
    font-family: 'DinaRemasterII', sans-serif;
}

h1 {
    display:flex;
    justify-content: center;
    color: white;
    text-shadow: rgb(20, 0, 120);
    

}

.test h2 {
    border-bottom: 2px solid #000000;
    padding-bottom: 0.5em;
    color: white;
    
}

ul {
    list-style-type: none;
    padding: 0;
}

.imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#imgs {
    width: 200px;
    border: 4px;
    border-color: green;
}

footer {
    background-color: rgba(76, 80, 150, 0.3);
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

