@font-face {
    font-family: 'DinaRemasterII';
    src: url('../fonts/DinaRemasterII.woff') format('woff'),
    url('../fonts/DinaRemasterII.woff2') format('woff2');
}

body {
    background-color: black;

}
header {
    background-color: rgb(0,0,40);
    color: #ffffff;
    text-align: center;
    padding: 0.5em 0;
    text-transform: uppercase;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: space-between;
}

#logo {
        margin-left: 60px;
    width: 35%;
    max-width: 40px;
    filter: 1px 1px 0px drop-shadow(purple)
}

.shadow {
    filter: drop-shadow(10px, 10px, 10px red);
}

#linkbar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    gap: 2em;
}
li {
    color: white;
}

#space {
    color: white;
    font-size: 21px;
    
}
#searchForm {
    width: 80%;
    max-width: 300px;
    margin-right: 90px;
    display: flex;
    align-items: center;

}

input[type="text"] {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid rgb(0,0,40);
    border-radius: 40px;
    margin-right: 0.5em;
    background-color: black;
    color: white;
    margin-right: 30px;

}

button {
    padding: 0.5em;
    font-size: 1em;
    background-color: rgb(0,90,0);
    color: white;
    border: 1px solid rgb(0,0,40);
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 250px;

}

button:hover {
    background-color: rgb(0,0,60);
    border-radius: 40px
}
input:hover {
    
    color: rgba(255, 255,255, 0.5);
}

#ras {
    font-size: 20px;
    color: white;
    padding: 30px;
}

#projects {
    margin-bottom: 0.5em;
    padding: 1em;
    border: 1px solid rgb(0,0,40);
    background-color: rgb(0,0,40);
    font-family: DinaRemasterII;
    color: white;
}

#t1 {
    font-family: 'DinaRemasterII', sans-serif;
    text-transform: capitalize;
}

ul {
    list-style-type: none;
    padding: 0;
}

.imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;

}
#imgs {
    width: 200px;
    border: 4px;
    border-color: green;
}

#pro {
    font-family: 'DinaRemasterII';
    font-size: 17px;
    color: white;
    text-transform: capitalize;
}
footer {
    background-color: rgba(76, 80, 150, 0.3);
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

