/* styles.css */

/* Targeting the boddy element */
@font-face {
    font-family: 'DinaRemasterII';
    src: url('../fonts/DinaRemasterII.woff2') format('woff2'),
         url('../fonts/DinaRemasterII.woff') format('woff');
}

body {
    background-color: #161617;
    background-size:cover;
}

/* Targeting headings */
h1 {
    text-align: center;
    color: rgb(153, 252, 4);
    font-family: 'DinaRemasterII';

}

/* Targeting paragraphs */
p {
    font-family: 'DinaRemasterII';

    color: rgb(153, 252, 4);
    text-align: center;
    font-size: large;
    line-height: 1.6;
    margin-bottom: 20px;

}

.projetos {
    padding: 10px 0;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(153, 252, 4);
    font-family: 'DinaRemasterII';
    font-size: 18px;
}



.planos{
    position: relative;
    bottom: 200px;
    right: 100px;
    color: rgb(153, 252, 4);
    font-family: 'DinaRemasterII';
    font-size: 24px;
    

}

.ideias {

    color: rgb(153, 252, 4);
    font-family: 'DinaRemasterII';
    font-size: 24px;
}


button {
    height: 40px;
    width: 60px;
    padding: 10px;
    border: 2px solid red;
    margin: 10px;

}

.centered-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.documentação {
    color: rgb(153, 252, 4);
    font-family: 'DinaRemasterII';
    font-size: 24px;
}

hr {
    color: rgb(153, 252, 4);
    font-family: 'DinaRemasterII';
}