header {
    background-image: url('../img/fundo_code.jpg');
    display: flex;
    justify-content: center;
    border: none;
        background-size: cover;
}

#fundo {
    width: 30%;
    max-width: 100pc;
    
}
#cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px;
    margin-bottom: 2em;

}
body {
    background-color: rgb(100,100,100);
}