body {
    background: linear-gradient(180deg, #0A0A96, #1E1E2C);
    margin: 0;
  }
  
  /* inicio do site e navbar */
  
  .navbar {
    background-color: rgb(10, 10, 150);
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.3em 1em 0.3em 1em;
    margin-bottom: 20px;
  }
  
  .navbar img {
    max-width: 60px; /* Mantém um tamanho fixo */
    border-radius: 50%;
    margin: 0 10px;
  }
  
  #list {
    color: white;
    width: 20vw;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 1em;
  }
  
  a {
    color: white; /* Define a cor branca para os links */
    text-decoration: none; /* Remove o sublinhado padrão */
  }
  
  a:hover {
    color: lightblue; /* Ou outra cor que combine */
    text-decoration: underline; /* Altera a cor quando o mouse passa por cima */
  }
  
  a:visited {
    color: white; /* Define a cor branca para links já visitados */
  }
  
  
  #searchForm input {
    width: 10vw;
    border-radius: 40px;
    background-color: black;
    border: none;
    padding: 3px;
    font-size: 14px;
    color: white;
  }
  
  #searchForm button {
    width: 7vw;
    height: 6vh;
    border-radius: 40px;
    background-color: black;
    border: none;
    font-size:  14px;
    color: white;
  }
  
  /* coeco de projetos */
  .sep {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
  }
  
  .codes {
    width: 60vw;
    height: 45vh;
    display: grid; /* Ativa o Grid Layout */
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de tamanho igual */
    grid-template-rows: repeat(2, 1fr); /* 2 linhas de tamanho igual */
    gap: 10px; /* Espaçamento entre os itens */
    padding: 10px;
  }
  
  .langs {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: calc(1rem + 0.5vw);
    font-weight: bold;
    text-align: center;
  }
  
  #py {
    background-color: #306998; /* Azul Python */
  }
  
  #htmlcs {
    background-color: #E34F26; /* Laranja HTML */
  }
  
  #js {
    background-color: #F7DF1E; /* Amarelo JavaScript */
    color: black; /* Contraste melhor com o fundo amarelo */
  }
  
  #c {
    background-color: #68217A; /* Roxo C# */
  }
  
  #ko {
    background-color: #0095D5; /* Azul Kotlin */
  }
  
  #next {
    background-color: #000000; /* Preto Next.js */
    color: white; /* Contraste com fundo preto */
  }

  @media (max-width: 768px) {
    .codes {
      grid-template-columns: repeat(2, 1fr); /* Muda para duas colunas */
    }
  }
  